name: chat_secure_guard
description: A complete Flutter package for End-to-End Encryption (E2EE), secure file encryption, and key management using libsodium.
version: 0.0.1
homepage: https://github.com/Naimish-Kumar/chat_secure_guard
repository: https://github.com/Naimish-Kumar/chat_secure_guard

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  sodium: ^3.4.6
  sodium_libs: ^3.4.6+4
  flutter_secure_storage: ^10.0.0
  crypto: ^3.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter: